@page "/tabla-tramites"
@using SGE.Aplicacion
@code {
    [Parameter]
    public List<Tramite> tramites { get; set; } = new List<Tramite>();

    [Parameter]
    public ServicioTramite STramite { get; set; } = null!;

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public bool permisoElim { get; set; }

    [Parameter]
    public bool permisoMod { get; set; }

    private bool visible { get; set; }
    private Tramite tramiteModificado { get; set; } = new Tramite();
    private FormularioTramite formularioTramite = null!;

    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    public void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }

    private void EliminarTramite(Tramite tramite)
    {
        tramites.Remove(tramite);
        STramite.ElimiarRegistro(tramite.Id, Id);
        StateHasChanged();
    }

    private void ModificarTramite(Tramite tramite)
    {
        tramiteModificado = tramite;
        formularioTramite.Mostrar();
    }
}

@if (visible)
{
    <div>
        <h3>Lista de Trámites</h3>
        <button class="btn btn-secondary" @onclick="Ocultar">Cerrar</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Contenido</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Última Modificación</th>
                    <th>Expediente</th>
                    <th>Usuario que Modificó</th>
                    <th>EstadoTramite</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tramite in tramites)
                {
                    <tr>
                        <td>@tramite.Id</td>
                        <td>@tramite.Contenido</td>
                        <td>@tramite.FechaHoraCreacion.ToShortDateString()</td>
                        <td>@tramite.FechaHoraUltimaModificacion.ToShortDateString()</td>
                        <td>@tramite.ExpedienteId</td>
                        <td>@tramite.IdUsuario</td>
                        <td>@tramite.EstadoTramite</td>
                        <td>
                            @if (permisoElim)
                            {
                                <button class="btn btn-danger btn-sm" @onclick="() => EliminarTramite(tramite)">Eliminar</button>
                            }
                            @if (permisoMod)
                            {
                                <button class="btn btn-primary btn-sm" @onclick="() => ModificarTramite(tramite)">Modificar</button>
                                <FormularioTramite @ref="formularioTramite" ServiTramite="STramite" tramite="tramiteModificado"></FormularioTramite>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}