@rendermode InteractiveServer
@inject SGE.Aplicacion.CasoUsoModificacionExpediente modificacionExpediente
@inject CasoUsoConsultaExpedienteID casoBuscarID
@inject SGE.Aplicacion.CasoUsoBajaExpediente bajaExpediente
@inject SGE.Aplicacion.UsuarioValidador validador

@if (visible)
{
    <button class="btn btn-danger btn-sm" @onclick="Ocultar">Cerrar</button>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Caratula</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Última Modificación</th>
                <th>Usuario que Modificó</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Lista)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Caratula</td>
                    <td>@e.FechaCreacion</td>
                    <td>@e.FechaModificacion</td>
                    <td>@e.IdUsuarioModificacion</td>
                    <td>@e.Estado</td>
                    <td>
                        @if (validador.TienePermiso(User, Permiso.ExpedienteBaja))
                        {
                            <button class="btn btn-danger btn-sm" @onclick="() => baja(e)">Eliminar</button>
                        }
                        @if (validador.TienePermiso(User, Permiso.ExpedienteModificacion))
                        {
                            <button class="btn btn-primary btn-sm" @onclick="() => modificar(e)">Modificar</button>
                        }
                        <button class="btn btn-primary btn-sm" @onclick="() => mostrar(e)">Mostrar Tramites</button>
                    </td>
                </tr>
                <FormularioModificacionExpediente2 @ref="formularioModificacionExpediente2" User="User" ExpedienteMod="@ExpedienteMod" ModExitosa="CambiarEstado"></FormularioModificacionExpediente2>
            }
        </tbody>
    </table>
    <br>
    <TramitesAsociados @ref="tramitesAsociados" Lista="@tramites"></TramitesAsociados>
    <br>
    <DialogoAlerta @ref="dialogoAlerta" Mensaje = "@alerta"></DialogoAlerta>
}

@code {
    [Parameter] public List<Expediente> Lista { get; set; }
    [Parameter] public Usuario User { get; set; }
    private DialogoAlerta dialogoAlerta = new DialogoAlerta();
    private String alerta = "";
    private Expediente ExpedienteMod;
    private List<Tramite> tramites = new List<Tramite>();
    private FormularioModificacionExpediente2 formularioModificacionExpediente2 = new FormularioModificacionExpediente2();
    private TramitesAsociados tramitesAsociados = new TramitesAsociados();

    private bool visible = false;
    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }

    private void CambiarEstado()
    {
        StateHasChanged();
    }
    private void baja(Expediente expediente)
    {
        try
        {
            bajaExpediente.Ejecutar(expediente.Id, User);
            Lista.Remove(expediente);
            StateHasChanged();
            Ocultar();
        }
        catch (Exception exc)
        {
            alerta = exc.Message;
            dialogoAlerta.Mostrar();
        }
    }

    private void mostrar(Expediente e)
    {
        try
        {
            if(!e.Tramites.Any()) throw new RepositorioException("Este Expediente no Tiene ningún Tramite");
            else tramites = e.Tramites;
            tramitesAsociados.Mostrar();
        }
        catch (Exception exc)
        {
            alerta = exc.Message;
            dialogoAlerta.Mostrar();
        }
    }

    private void modificar(Expediente e)
    {
        try
        {
            if(!validador.TienePermiso(User, Permiso.ExpedienteModificacion)) throw new AutorizacionException("No Posee Permiso");
            else 
            {
                ExpedienteMod = casoBuscarID.Ejecutar(e.Id);
                if(ExpedienteMod == null) throw new RepositorioException("Expediente no Disponible");
                else {
                    formularioModificacionExpediente2.ExpedienteMod = ExpedienteMod;
                    formularioModificacionExpediente2.Mostrar();
                }
            }
        }
        catch (Exception exc)
        {
            alerta = exc.Message;
            dialogoAlerta.Mostrar();
        }
    }
}