@rendermode InteractiveServer
@inject CasoUsoConsultaEtiquetaTramite consultaTramiteEtiqueta

@code{
    [Parameter] public Usuario user {get; set;}  = new Usuario();
    private List<Tramite> tramitesFiltrados = new List<Tramite>(); 
    private TablaTramites tabla = new TablaTramites(); 
    private DialogoAlerta dialogo = new DialogoAlerta();
    private bool visible = false;
    private string msj = ""; 
    private EstadoTramite estadoTramite;
    public void Mostrar(){
        visible = true; 
        StateHasChanged();
    }
    private void Ocultar(){
        visible = false; 
        StateHasChanged();
    }
    private void Buscar(EstadoTramite estadoTramite){
        try
        {
            tramitesFiltrados = consultaTramiteEtiqueta.Ejecutar(estadoTramite);
            tabla.Mostrar(); 
            this.Ocultar(); 
        }
        catch(Exception e)
        {
            msj = e.Message;
            dialogo.Mostrar();
        }
    }
}

@if(visible){
    <div>
        <h3>-Seleccione un estado para filtrar-</h3>
        <select @bind="estadoTramite" class="form-control">
                @foreach (var estado in Enum.GetValues(typeof(EstadoTramite)))
                {
                    <option value="@estado">@estado</option>
                }
        </select>
        <button class="btn btn-primary" @onclick="() => Buscar(estadoTramite)">Buscar</button>
        <button class="btn btn-primary" @onclick ="Ocultar">Cerrar</button>
        <DialogoAlerta @ref="dialogo" Mensaje= "@msj"></DialogoAlerta>
        <TablaTramites @ref="tabla" Lista= "@tramitesFiltrados" User ="@user"></TablaTramites> 
    </div>
}
